.images-url{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.url{
    width: 100%;
    height: 502px; 
}

.ambiente{
    width: 100%;
    height: 502px; 
}

.tarjeta{
    text-align: center;
    padding: 2rem;
}