.grilla1 {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-patrones-fisuras-flor_1217-754.jpg?w=2000');
    background-size: cover;
    background-repeat: repeat;
}

.cat1 {
    color: #0097a7; 
    text-decoration: none; 
  }
  